<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zenika.zbooks.persistence.ZBookOfTheMonthMapper">
        <!-- Mapping ZBooks 
 private ZBook book;

    private ZUser submitter;

    private List<ZUser> supporters;
    -->
    <resultMap type="ZBookOfTheMonth" id="ZBookOfTheMonth">
    	<association property="book" javaType="ZBook">
	        <id column="book_id" property="id"/>
	        <result column="ISBN" property="ISBN"/>
	        <result column="author" property="authors"/>
	        <result column="edition" property="edition"/>
	        <result column="title" property="title"/>
	        <result column="pagesNumber" property="pagesNumber"/>
	        <result column="releaseDate" property="releaseDate"/>
	        <result column="language" property="language"/>
	        <result column="cover" property="cover"/>                
		</association>
		
		<association property="submitter" javaType="ZUser">
		    <id column="user.user_id" property="user_id"/>
	        <result column="userName" property="userName"/>
	        <result column="email" property="email"/>
	        <!--result column="password" property="user.password"/-->
	        <!--result column="zPower" property="zPower" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/-->
		</association>
        
        
    </resultMap>

    <select id="getAllBooksOfTheMonth" resultMap="ZBookOfTheMonth"  timeout="10">
        SELECT
           botm.book_id book_id,
           botm.ISBN ISBN,
           botm.author author,
           botm.edition edition,
           botm.title title,
           botm.pagesNumber pagesNumber,
           botm.releaseDate releaseDate,
           botm.language language,
           botm.cover cover,
           
           user.user_id user_id,
           user.userName userName,
           user.email email
        FROM zBookOfTheMonth botm
<!-- INNER JOIN zBookOfTheMonthVotes votes on botm.book_id=votes.book_id -->        
        INNER JOIN zUser user on botm.submitter_id=user.user_id
    </select>

	<insert id="vote">
        INSERT INTO zBookOfTheMonthVotes (book_id, voter_id)
        VALUES(#{submitter.user_id}, #{book.book_id})
    </insert>

    <insert id="addBookOfTheMonth">
        INSERT INTO zBookOfTheMonth 
        (ISBN, title, author, edition, pagesNumber, 
        releaseDate, language, cover, submitter_id)
        VALUES
        (#{book.ISBN}, #{book.title}, #{book.authors}, #{book.edition}, #{book.pagesNumber}, 
        #{book.releaseDate}, #{book.language}, #{book.cover}, #{submitter.user_id})
    </insert>   

</mapper>