<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zenika.zbooks.persistence.ZUserMapper">
    <resultMap type="ZUser" id="ZUser">
        <id column="user_id" property="id"/>
        <result column="userName" property="userName"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="zPower" property="zPower" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
    	<!--<collection property="borrowedBooks" column="idBorrower" ofType="ZBook" javaType="ArrayList" resultMap="com.zenika.zbooks.persistence.ZBooksMapper.ZBook"/>-->
    </resultMap>

    <insert id="addZUser" parameterType="ZUser" timeout="10">
		INSERT INTO 
			zUser (userName,email, password)
		VALUES
			(#{userName},#{email}, #{password})
	</insert>

    <delete id="deleteZUser" parameterType="int" timeout="10">
		DELETE FROM zUser WHERE user_id=#{id}
	</delete>

    <select id="getZUser" parameterType="map" resultMap="ZUser" timeout="10">
		SELECT 
			*
		FROM zUser u
		WHERE (u.email=#{email} AND u.password=#{password})
	</select>

    <select id="getZUserWithEmail" parameterType="string" resultMap="ZUser" timeout="10">
		SELECT
		 	user_id,userName,email,zPower,  
		 	book_id,
            ISBN,author,edition,title,pagesNumber,releaseDate,language,cover
		 FROM zUser as u
		 WHERE u.email=#{email}
	</select>

    <select id="getUserWithProfile" parameterType="map" resultMap="ZUser" timeout="10">
		SELECT
			*
		FROM zUser as u
		    LEFT OUTER JOIN zUserProfile as up
				ON up.idUser=u.user_id
		WHERE u.user_id=#{user_id}
	</select>

    <select id="hasBorrowedBook" parameterType="map" resultType="boolean" timeout="10">
        SELECT
         CASE WHEN count(*) > 0 THEN 1 ELSE 0 END
        FROM zBooks_borrowed
        WHERE idBorrower = #{user_id} AND idBook = #{book_id}
    </select>
</mapper>