<!DOCTYPE html>
<html ng-app="zBooks">
<head>
	<meta charset="UTF-8">
	<title>Zenika Books</title>
	<script type="text/javascript" src="resources/js/lib/angular.js"></script>
	<script type="text/javascript" src="resources/js/lib/angular-route.js"></script>
	<script type="text/javascript" src="resources/js/lib/angular-cookies.js"></script>
	<script type="text/javascript" src="resources/js/lib/sha256.js"></script>
    <script type="text/javascript" charset="UTF-8" src="resources/js/app.js"></script>
    <script type="text/javascript" charset="UTF-8" src="resources/js/controllers.js"></script>
    <script type="text/javascript" charset="UTF-8" src="resources/js/services.js"></script>
    <script type="text/javascript" charset="UTF-8" src="resources/js/filters.js"></script>
    <script type="text/javascript" charset="UTF-8" src="resources/js/books/controllers.js"></script>
	<script type="text/javascript" charset="UTF-8" src="resources/js/login/controllers.js"></script>
	<script type="text/javascript" charset="UTF-8" src="resources/js/users/controllers.js"></script>
	<script type="text/javascript" charset="UTF-8" src="resources/js/news/controllers.js"></script>

	<link rel="stylesheet" href="resources/css/index.css">
	<link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="resources/image/favicon.ico">

</head>
<body ng-controller="RootController">
	<div class="page-header container" style="margin-bottom: 9px;">
		<h1 style="float: left; cursor: pointer;" ng-click="goHome()">
			z<span class="zenika-red strong">B</span>ooks
		</h1>
		</br>
		<div class="container" ng-hide="isBreadcrumbsEmpty()" style="float: left;">
			<span ng-repeat="crumb in breadcrumbs()">
                 <span ng-hide="$first"> > </span> <a href="{{crumb.route}}"	ng-hide="$last">{{crumb.label}}</a> <span ng-show="$last">{{crumb.label}}</span>
			</span>
		</div>

	</div>
	<div class="container" ng-show="isZUserConnected()">
		<div class="row">
			<div class="col-md-12 navbar navbar-zenika navbar-inner navbar-right">
				<p class="navbar-text navbar-left"><img src="./resources/image/zenika-logo-blanc-alpha-mini.png"></p>
				<p class="navbar-text navbar-left">Bienvenue {{firstname()}}</p>
				<p class="navbar-text navbar-left"><a style="color:white;" href="#/news">News</a></p>
                <p class="navbar-text navbar-left"><a style="color:white;" href="#/list">Search</a></p>
				<p class="navbar-text navbar-right"><a style="color:white;" href="#" ng-click="disconnectZUser()"><span class="glyphicon glyphicon-log-out" title="logout"></span></a></p>
                <p class="navbar-text navbar-right"><a style="color:white;" href="#/user/profile" ><span class="glyphicon glyphicon-user"></span></a></p>
            </div>
		</div>
	</div>

	<div class="container" ng-view=""></div>

	<div class="container" style="text-align: center;">
		<hr />
		<div class="footer">
			<h5>
				by <img class="zenika-logo"
					src="resources/image/LogoZenika-H-(Quadri).png" style="padding-left:8px;"/>
			</h5>
		</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script type="text/javascript"
		src="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
</body>
</html>