<!DOCTYPE html>
<html ng-app="zBooks">
<head>
    <meta charset="UTF-8">
    <title>Zenika Books</title>
    <script src="resources/js/angular.min.js"></script>
    <script src="resources/js/ListController.js"></script>
    <script src="resources/js/index.js"></script>
    <script src="resources/js/DetailController.js"></script>
    <script src="resources/js/EditController.js"></script>

    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/css/index.css">

</head>
<body ng-controller="rootController">
<div class="page-header container" style="margin-bottom: 9px;">
    <h1 style="float: left;cursor:pointer;" ng-click="goHome()">z<span class="zenika-red strong">B</span>ooks</h1></br>
    <div class="container" ng-hide="isBreadcrumbsEmpty()" style="float: left;">
        <span ng-repeat="crumb in breadcrumbs()">
            <span ng-hide="$first"> > </span>
            <a href="{{crumb.route}}" ng-hide="$last">{{crumb.label}}</a>
            <span ng-show="$last">{{crumb.label}}</span>
        </span>
    </div>
</div>


<div class="container" ng-view="">
</div>

<div class="container" style="text-align: center;">
    <hr/>
    <div class="footer">
        <h6>by <img class="zenika-logo" src="resources/image/LogoZenika-H-(Quadri).png"/></h6>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
</body>
</html>