<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <button type="button" class="btn btn-default" style="float:right" ng-click="edit()" ng-show="hasSpecialAccess">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <h3>{{book.title}}</h3>
            </div>
        </div>
        <div class="panel-body">
        	<div class="alert" ng-class="messageType" ng-show="isMessage()">
                <span class="glyphicon glyphicon-remove" style="cursor: pointer; float:right;"
                      ng-click="closeMessage()"></span>
                {{message}}
            </div>
            <div><img class="img-cover" ng-src="{{book.cover|coverFilter}}"></div>
            <div style="float: left">
                <table>
                    <tr>
                        <th>Titre</th>
                        <td>{{book.title}}</td>
                    </tr>
                    <tr>
                        <th>ISBN</th>
                        <td>{{book.isbn}}</td>
                    </tr>
                    <tr>
                        <th>Langues</th>
                        <td><img ng-src="./resources/image/{{book.language|img404safe}}.png"></td>
                    </tr>
                    <tr>
                        <th>Editeur</th>
                        <td>{{book.edition}}</td>
                    </tr>
                    <tr>
                        <th>Auteurs</th>
                        <td>{{book.authors}}</td>
                    </tr>
                    <tr>
                        <th>Nombre de pages</th>
                        <td>{{book.pagesNumber}}</td>
                    </tr>
                    <tr ng-show="book.borrowerName">
                    	<th>Emprunteur</th>
                    	<td>{{book.borrowerName}}</td>
                    </tr>
                    <tr>
                    	<th></th>
                    	<td>
                    		<button type="button" class="btn btn-default" ng-click="borrow()" ng-hide="book.borrowerName">
                    			Emprunter
							</button>
							<button type="button" class="btn btn-default" ng-click="return()" ng-show="book.borrowerName">
                    			Rendre le livre
							</button>
						</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>