<table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
        <th>ISBN</th>
        <th>Titre</th>
        <th>Langue</th>
        <th>Collection</th>
        <th>Actuellement présent</th>
    </tr>
    <tr ng-repeat="book in bookList">
        <td class="text-muted"><h6>{{book.isbn}}</h6></td>
        <td><a href="#/{{book.id}}">{{book.title}}</a></td>
        <td><img ng-src="./resources/image/{{book.language|img404safe}}.png"></td>
        <td>{{book.zcollection}}</td>
        <td>
        	<div class="checkboox" ng-hide="book.borrowerName">
        		<input type="checkbox" checked disabled/>	
        	</div>
        </td>
    </tr>
</table>
<button type="button" class="btn btn-default" ng-click="new()" ng-show="hasSpecialAccess">
    <span class="glyphicon glyphicon-plus"></span> Ajouter un livre
</button>