<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <tx:annotation-driven/>
    <context:annotation-config/>
    <!-- Scans within the base package of the application for @Components to configure as beans -->
    <!-- @Controller, @Service, @Configuration, etc. -->
    <context:component-scan base-package="com.zenika.zbooks"/>

    <!-- Enables the Spring MVC @Controller programming model -->
    <mvc:annotation-driven/>


    <import resource="databaseContext.xml"/>

    <!-- resources exclusions from servlet mapping -->
    <mvc:resources mapping="/resources/**" location="/resources/"/>
    <mvc:resources mapping="**.html" location="/WEB-INF/views/"/>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/api/**"/>
            <bean class="com.zenika.zbooks.web.AuthentificationInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/api/book/**"/>
            <bean class="com.zenika.zbooks.web.SpecialPowerAuthentificationInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

	<task:annotation-driven executor="myExecutor" scheduler="myScheduler"/>
	<task:executor id="myExecutor" pool-size="4"/>
	<task:scheduler id="myScheduler"/>

	<beans profile="dev,test">
		<bean name="propertyPlaceholder" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	        <property name="locations">
	            <value>classpath:applicationDev.properties</value>
	        </property>
	    </bean>
	</beans>
	
	<beans profile="!dev">
		<bean name="propertyPlaceholder" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	        <property name="locations">
	            <value>classpath:applicationIntegration.properties</value>
	        </property>
	    </bean>
	</beans>

	<beans>
		<bean id="zUserService" class="com.zenika.zbooks.services.impl.ZUserServiceImpl">
			<property name="serverUrl" value="${URL}" />
		</bean>
		<bean id="homeController" class="com.zenika.zbooks.web.HomeController">
			<property name="serverUrl" value="${URL.SSL}" />
		</bean>
	</beans>
</beans>