.zenika-red {
    color: #942723;
}

.strong {
    font-weight: bold;
}

.zenika-logo {
    width: 80px;
}

.footer {
    width: 100px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

}

.v-align-middle {
    vertical-align: middle;
}

.img-cover {
    max-height: 200px;
    float: left;
    margin-right: 30px;
}

.img-mini {
    max-height: 100px;
    float: left;
    margin-right: 30px;
}

th {
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
}

.navbar-text {
	color:black;
}
